.bugsForm {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    padding: 10px;
    margin: 20px;
}

/* .article {
    text-align: center;
} */

.viewButton {
    color:rgb(0, 48, 121);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
}

.editButton {
    color:rgb(0, 95, 5);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
}

.deleteButton {
    color: rgb(231, 26, 26);
    border: 1px solid rgb(102, 0, 0);
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
}